In [11]:
import pandas as pd

In [12]:
df = pd.read_parquet('tres_meses_modelo.parquet')
df.head()

descripcion,DayHourMinute,% BOMBA ALIM P45 M2 GLUCOSA,% BOMBA ALIMENT COLUMNAS 353509,% BOMBA ALIMENTACION CUBA M7,% BOMBA ALIMENTACION P45 M2 H0,% VF BOMBA ALIMENTACION W7,BOMBA RECUPERACIÓN GRUPOS H0,BRIX PUNTO CARGA Nº1 GLUCOSA,BRIX PUNTO CARGA Nº2 GLUCOSA,CAUDAL BOMBA TITANIC FECULERIA,...,VLV REG NIVEL FLASH SDA D.C.,VLV REGUL NIVEL CUBA MEZCLA DC,VOL RECUP ANION GRUPOS GLUC,VOL RECUP CATION GRUPOS H0,VOL. RECUP. ANIÓN GRUPO 4,VOL. RECUP. CATIÓN GRUPO 4,VOLUMEN CIP A EDAR,W10 STATUS,W7 STATUS,flag
0,2019-12-19 00:00:00,63.180840,NaN,NaN,9140.685547,NaN,NaN,NaN,NaN,51.275391,...,39.839199,44.231602,NaN,NaN,NaN,NaN,NaN,NaN,256.0,0
1,2019-12-19 00:15:00,55.934231,NaN,NaN,9616.052734,NaN,NaN,NaN,NaN,51.123047,...,36.364689,43.518158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,2019-12-19 00:30:00,60.272205,NaN,NaN,8801.334961,NaN,NaN,NaN,NaN,49.828125,...,35.764008,41.931713,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,2019-12-19 00:45:00,58.179604,NaN,NaN,8142.496582,69.843407,NaN,NaN,NaN,51.099609,...,37.079395,43.570385,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,2019-12-19 01:00:00,79.198875,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,51.316406,...,38.573360,NaN,10.018621,NaN,NaN,NaN,NaN,NaN,NaN,0

In [16]:
col_drop = ['COT AGUAS ÁCIDAS NUEVO', 'COT AGUAS ÁCIDAS', 'COR TITÁNIC AZÚCARES', 'COT TITÁNIC AZÚCARES NUEVO', 'DayHourMinute']

In [17]:
df = df.drop(columns=[col for col in col_drop if col in df.columns])

In [18]:
df.head()

descripcion,% BOMBA ALIM P45 M2 GLUCOSA,% BOMBA ALIMENT COLUMNAS 353509,% BOMBA ALIMENTACION CUBA M7,% BOMBA ALIMENTACION P45 M2 H0,% VF BOMBA ALIMENTACION W7,BOMBA RECUPERACIÓN GRUPOS H0,BRIX PUNTO CARGA Nº1 GLUCOSA,BRIX PUNTO CARGA Nº2 GLUCOSA,CAUDAL BOMBA TITANIC FECULERIA,CAUDAL SDA BOMBA BALSA RT,...,VLV REG NIVEL FLASH SDA D.C.,VLV REGUL NIVEL CUBA MEZCLA DC,VOL RECUP ANION GRUPOS GLUC,VOL RECUP CATION GRUPOS H0,VOL. RECUP. ANIÓN GRUPO 4,VOL. RECUP. CATIÓN GRUPO 4,VOLUMEN CIP A EDAR,W10 STATUS,W7 STATUS,flag
0,63.180840,NaN,NaN,9140.685547,NaN,NaN,NaN,NaN,51.275391,29.938551,...,39.839199,44.231602,NaN,NaN,NaN,NaN,NaN,NaN,256.0,0
1,55.934231,NaN,NaN,9616.052734,NaN,NaN,NaN,NaN,51.123047,NaN,...,36.364689,43.518158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,60.272205,NaN,NaN,8801.334961,NaN,NaN,NaN,NaN,49.828125,NaN,...,35.764008,41.931713,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,58.179604,NaN,NaN,8142.496582,69.843407,NaN,NaN,NaN,51.099609,NaN,...,37.079395,43.570385,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,79.198875,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,51.316406,24.489426,...,38.573360,NaN,10.018621,NaN,NaN,NaN,NaN,NaN,NaN,0

In [25]:
X = df.drop('flag', axis=1)
X = X.fillna(0)
X.head()

descripcion,% BOMBA ALIM P45 M2 GLUCOSA,% BOMBA ALIMENT COLUMNAS 353509,% BOMBA ALIMENTACION CUBA M7,% BOMBA ALIMENTACION P45 M2 H0,% VF BOMBA ALIMENTACION W7,BOMBA RECUPERACIÓN GRUPOS H0,BRIX PUNTO CARGA Nº1 GLUCOSA,BRIX PUNTO CARGA Nº2 GLUCOSA,CAUDAL BOMBA TITANIC FECULERIA,CAUDAL SDA BOMBA BALSA RT,...,VLV REG NIVEL CUBA SDA D.C.,VLV REG NIVEL FLASH SDA D.C.,VLV REGUL NIVEL CUBA MEZCLA DC,VOL RECUP ANION GRUPOS GLUC,VOL RECUP CATION GRUPOS H0,VOL. RECUP. ANIÓN GRUPO 4,VOL. RECUP. CATIÓN GRUPO 4,VOLUMEN CIP A EDAR,W10 STATUS,W7 STATUS
0,63.180840,0.0,0.0,9140.685547,0.000000,0.0,0.0,0.0,51.275391,29.938551,...,27.864864,39.839199,44.231602,0.000000,0.0,0.0,0.0,0.0,0.0,256.0
1,55.934231,0.0,0.0,9616.052734,0.000000,0.0,0.0,0.0,51.123047,0.000000,...,23.887163,36.364689,43.518158,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2,60.272205,0.0,0.0,8801.334961,0.000000,0.0,0.0,0.0,49.828125,0.000000,...,0.000000,35.764008,41.931713,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
3,58.179604,0.0,0.0,8142.496582,69.843407,0.0,0.0,0.0,51.099609,0.000000,...,25.583252,37.079395,43.570385,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
4,79.198875,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,51.316406,24.489426,...,24.414562,38.573360,0.000000,10.018621,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
y = df['flag']
y.value_counts()

flag
0    6302
1    2530
Name: count, dtype: int64

In [26]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.preprocessing import StandardScaler


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

scaler = StandardScaler()

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [27]:
model = LogisticRegression()

# Entrenar el modelo
model.fit(X_train_scaled, y_train)

# Hacer predicciones
y_pred = model.predict(X_test_scaled)

# Evaluar el modelo
accuracy = accuracy_score(y_test, y_pred)
cm = confusion_matrix(y_test, y_pred)
report = classification_report(y_test, y_pred)

print(f'Accuracy: {accuracy}')
print('Confusion Matrix:')
print(cm)
print('Classification Report:')
print(report)

Accuracy: 0.7509903791737408
Confusion Matrix:
[[1160  119]
 [ 321  167]]
Classification Report:
              precision    recall  f1-score   support

           0       0.78      0.91      0.84      1279
           1       0.58      0.34      0.43       488

    accuracy                           0.75      1767
   macro avg       0.68      0.62      0.64      1767
weighted avg       0.73      0.75      0.73      1767

In [28]:
import joblib
model_filename = 'logistic_model.pkl'
joblib.dump(model, model_filename)
print(f'Model saved as {model_filename}')

Model saved as logistic_model.pkl

In [30]:
sclaer_filename = 'scaler_model.pkl'
joblib.dump(scaler, sclaer_filename)
print(f'Scaler saved as {sclaer_filename}')

Scaler saved as scaler_model.pkl

descripcion,DayHourMinute,% BOMBA ALIM P45 M2 GLUCOSA,% BOMBA ALIMENT COLUMNAS 353509,% BOMBA ALIMENTACION CUBA M7,% BOMBA ALIMENTACION P45 M2 H0,% VF BOMBA ALIMENTACION W7,BOMBA RECUPERACIÓN GRUPOS H0,BRIX PUNTO CARGA Nº1 GLUCOSA,BRIX PUNTO CARGA Nº2 GLUCOSA,CAUDAL BOMBA TITANIC FECULERIA,...,VLV REG NIVEL FLASH SDA D.C.,VLV REGUL NIVEL CUBA MEZCLA DC,VOL RECUP ANION GRUPOS GLUC,VOL RECUP CATION GRUPOS H0,VOL. RECUP. ANIÓN GRUPO 4,VOL. RECUP. CATIÓN GRUPO 4,VOLUMEN CIP A EDAR,W10 STATUS,W7 STATUS,flag
8264,2020-03-14 02:00:00,100.0,NaN,NaN,8363.833984,NaN,NaN,NaN,NaN,43.740234,...,30.389904,55.461727,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1